
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489920458463'); /* IE9*/
  src: url('iconfont.eot?t=1489920458463#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489920458463') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489920458463') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489920458463#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e602"; }

.icon-home:before { content: "\e79d"; }

.icon-furnishing:before { content: "\e608"; }

.icon-edit:before { content: "\e649"; }

.icon-sportsmode:before { content: "\e62f"; }

.icon-retail:before { content: "\e605"; }

.icon-delete:before { content: "\e69d"; }

.icon-music:before { content: "\e8f0"; }

.icon-cosmetology01:before { content: "\e603"; }

.icon-wedding:before { content: "\e604"; }

.icon-Password:before { content: "\e606"; }

.icon-car:before { content: "\e630"; }

.icon-chart:before { content: "\e617"; }

.icon-tourismiconsisland:before { content: "\e628"; }

.icon-service:before { content: "\e63f"; }

.icon-medical:before { content: "\e6b5"; }

.icon-arrow-r:before { content: "\e615"; }

.icon-phone:before { content: "\e634"; }

.icon-food:before { content: "\e64f"; }

.icon-account:before { content: "\e601"; }

.icon-recommend:before { content: "\e6f1"; }

.icon-team:before { content: "\e60e"; }

.icon-education:before { content: "\e63a"; }

.icon-iphone:before { content: "\e737"; }

.icon-leisure:before { content: "\e646"; }

.icon-insurance:before { content: "\e62b"; }

.icon-gotop:before { content: "\e6d8"; }

